$Raleway-800-20: normal 800 20px/24px "Raleway", sans-serif;
$Raleway-700-20: normal 700 20px/24px "Raleway", sans-serif;
$Raleway-400-35: normal 400 35px/40px "Raleway", sans-serif;
$Raleway-400-17: normal 400 17px/20px "Raleway", sans-serif;
$Raleway-300-32: normal 300 32px/37px "Raleway", sans-serif;
$Raleway-300-30: normal 300 30px/35px "Raleway", sans-serif;
$Open-700-13: normal 700 13px/18px "Open Sans", sans-serif;
$Open-700-11: normal 700 11px/1 "Open Sans", sans-serif;
$Open-600-16: normal 600 16px/22px "Open Sans", sans-serif;
$Open-400-16: normal 400 16px/23px "Open Sans", sans-serif;
$Open-300-40: normal 300 46px/64px "Open Sans", sans-serif;

$lightBlue: #08a6e4;
$pink: #fb3b64;
$sky: #55dfb4;
